*{
  margin: 0%;
  padding: 0;
  box-sizing: border-box;
}
.f {
  top: 885px;
  left: 1408px;
  text-decoration: underline;
  font-weight: 700;
  color: inherit;
  display: none;
  width: 42px;
  height: 88px;
}
.blog-link-1,
.f,
.t {
  position: absolute;
  mix-blend-mode: normal;
}
.t {
  top: 896px;
  left: calc(50% + 638px);
  text-decoration: underline;
  font-weight: 700;
  color: inherit;
  display: none;
  width: 40px;
  height: 88px;
}
.blog-link-1 {
  top: 0;
  left: 162px;
  background-color: var(--color-gray);
  width: 225px;
  height: 38px;
  cursor: pointer;
}
.home1,
.it-111-blog-entries {
  position: absolute;
  top: 0;
  display: inline-block;
}
.it-111-blog-entries {
  left: 162px;
  width: 268px;
  height: 29px;
  cursor: pointer;
}
.home1 {
  left: 0;
  color: var(--color-snow-100);
  width: 70px;
  height: 30px;
}
.flex-link-1 {
  left: 446px;
  background-color: var(--color-gray);
  width: 124px;
  height: 41px;
  mix-blend-mode: normal;
  cursor: pointer;
}
.flex-link-1,
.flex-page,
.frame1 {
  position: absolute;
  top: 0;
}
.flex-page {
  left: 450px;
  color: var(--color-lavenderblush);
  display: inline-block;
  width: 116px;
  height: 30px;
  cursor: pointer;
}
.frame1 {
  left: 0;
  width: 570px;
  height: 41px;
  overflow: hidden;
}
.frame-child,
.selfpic-icon {
  position: absolute;
  top: 240px;
  left: 70px;
  width: 376px;
  height: 376px;
  object-fit: cover;
}
.frame-child {
  top: 826px;
  left: 435px;
  width: 304px;
  height: 282px;
}
.facebook-icon {
  position: relative;
  width: 60px;
  height: 60px;
  object-fit: cover;
  cursor: pointer;
}
.fb {
  top: 826px;
  left: 133px;
  width: 60px;
  height: 85px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}
.fb,
.frame,
.tiktok {
  position: absolute;
  overflow: hidden;
}
.tiktok {
  top: 826px;
  left: 322px;
  width: 60px;
  height: 85px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}
.frame {
  top: 48px;
  left: 1266px;
  width: 654px;
  height: 976px;
  font-size: var(--font-size-5xl);
  color: var(--color-snow-200);
  font-family: var(--font-inter);
}
.subtract-icon {
  position: relative;
  width: 84px;
  height: 84px;
  object-fit: cover;
}
.Title {
  position: relative;
  display: inline-block;
  width: 387px;
  height: 37px;
  flex-shrink: 0;
}
.frame4 {
  width: 537px;
  height: 84px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 66px;
}
.hello-my-name {
  position: undefined;
  font-size: var(--font-size-29xl);
  font-family: var(--font-itim);
  display: inline-block;
  width: 418px;
  height: 78px;
  flex-shrink: 0;
  margin-left: 222px;
}
.frame3 {
  width: 640px;
  height: 279px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 117px;
}
.augustine-john-d {
  position: relative;
  display: inline-block;
  width: 656px;
  height: 84px;
  flex-shrink: 0;
}
.frame6 {
  position: absolute;
  top: 0;
  left: 0;
  width: 759px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  font-family: var(--font-jacques-francois);
}
.i-am-a {
  margin: 0;
}
.i-am-a-container {
  position: absolute;
  top: 90px;
  left: 0;
  font-size: var(--font-size-5xl);
  display: inline-block;
  color: var(--color-white);
  width: 871px;
  height: 157px;
}
.playing-video-games-container {
  position: relative;
  display: inline-block;
  width: 349px;
  height: 230px;
  flex-shrink: 0;
}
.frame7,
.frame8 {
  overflow: hidden;
  display: flex;
}
.frame8 {
  width: 699px;
  height: 230px;
  flex-shrink: 0;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 1px;
}
.frame7 {
  position: absolute;
  top: 373px;
  left: 0;
  width: 759px;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  font-size: var(--font-size-13xl);
  color: var(--color-white);
}
.my-skills-and {
  position: relative;
  display: inline-block;
  width: 373px;
  height: 52px;
  flex-shrink: 0;
}
.frame9 {
  position: absolute;
  top: 295px;
  left: 0;
  width: 591px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  font-size: 36px;
}
.frame5 {
  position: relative;
  width: 871px;
  height: 603px;
  flex-shrink: 0;
  font-size: var(--font-size-29xl);
  color: var(--color-orangered);
  font-family: var(--font-inria-serif);
}
.frame2,
.frame5,
.home {
  overflow: hidden;
}
.frame2 {
  position: absolute;
  top: 48px;
  left: 84px;
  width: 871px;
  height: 898px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 16px;
  font-size: var(--font-size-13xl);
  font-family: var(--font-inter);
}
.home {
  position: relative;
  background-color: var(--color-gray);
  width: 100%;
  height: 1024px;
  text-align: left;
  font-size: var(--font-size-45xl);
  color: var(--color-white);
  font-family: var(--font-inria-serif);
}
