*{
  margin: 0%;
  padding: 0;
  box-sizing: border-box;
}

.frame10,
.frame11 {
  position: absolute;
  top: 40px;
  left: -26px;
  width: 1852px;
  height: 270px;
  overflow: hidden;
}
.frame11 {
  top: 312px;
  width: 1988px;
  height: 1086px;
}
.subtract-icon1 {
  position: relative;
  width: 84px;
  height: 84px;
  object-fit: cover;
}
.Title,
.it-111-blog-entries1,
.it-blog-post {
  position: absolute;
  top: 12px;
  left: 1337px;
  display: inline-block;
  width: 268px;
  height: 30px;
}
.Title,
.it-blog-post {
  top: 0;
  left: 150px;
  font-size: var(--font-size-13xl);
  color: var(--color-white);
  width: 387px;
  height: 37px;
}
.it-blog-post {
  left: 689px;
  font-size: var(--font-size-45xl);
  font-family: var(--font-inika);
  color: var(--color-orangered);
  width: 373px;
  height: 76px;
}
.home-link-1 {
  position: relative;
  background-color: var(--color-gray);
  width: 124px;
  height: 41px;
  mix-blend-mode: normal;
  cursor: pointer;
}
.home2 {
  position: relative;
  display: inline-block;
  width: 70px;
  height: 30px;
  flex-shrink: 0;
  margin-top: -41px;
}
.frame14 {
  position: absolute;
  top: 0;
  left: 1151px;
  width: 124px;
  height: 41px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  cursor: pointer;
  color: var(--color-snow-100);
}
.flex-page1 {
  position: relative;
  display: inline-block;
  width: 116px;
  height: 30px;
  flex-shrink: 0;
  margin-top: -41px;
}
.frame15 {
  position: absolute;
  top: 0;
  left: 1618px;
  width: 124px;
  height: 41px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  cursor: pointer;
  color: var(--color-lavenderblush);
}
.frame13 {
  position: undefined;
  width: 1742px;
  height: 84px;
  overflow: hidden;
  flex-shrink: 0;
  margin-left: 110px;
}
.blog-1 {
  position: relative;
  display: inline-block;
  width: 164px;
  height: 62px;
  flex-shrink: 0;
}
.frame12,
.frame16 {
  overflow: hidden;
  display: flex;
  justify-content: flex-start;
}
.frame16 {
  width: 1152px;
  height: 62px;
  flex-shrink: 0;
  flex-direction: row;
  align-items: center;
  gap: 824px;
  position: undefined;
  margin-left: 162px;
  font-size: var(--font-size-21xl);
  color: var(--color-deepskyblue);
  font-family: var(--font-inika);
}
.frame12 {
  position: absolute;
  top: 40px;
  left: -26px;
  width: 1852px;
  height: 270px;
  flex-direction: column;
  align-items: flex-start;
  gap: 124px;
}
.span {
  color: var(--color-white);
}
.what-is-computing {
  margin: 0;
}
.blank-line4 {
  margin: 0;
  font-size: var(--font-size-5xl);
}
.what-is-computing-container {
  position: relative;
  display: inline-block;
  width: 778px;
  height: 370px;
  flex-shrink: 0;
}
.introduction-to-computer {
  color: var(--color-orangered);
}
.frame18 {
  width: 1766px;
  height: 370px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 210px;
  position: undefined;
  margin-left: 110px;
}
.highlight-of-my {
  position: absolute;
  top: 0;
  left: 20px;
  display: inline-block;
  width: 764px;
  height: 62px;
}
.blank-line6 {
  margin: 0;
  font-size: var(--font-size-13xl);
}
.my-favorite-lesson-container {
  position: absolute;
  top: 33px;
  left: 0;
  color: var(--color-white);
  display: inline-block;
  width: 778px;
  height: 370px;
  font-size: var(--font-size-5xl);
}
.frame-item {
  position: absolute;
  top: 375px;
  left: 594px;
  border-radius: 50%;
  background-color: var(--color-orangered);
  width: 296px;
  height: 248px;
}
.frame20 {
  position: absolute;
  top: 31px;
  left: 1098px;
  width: 890px;
  height: 623px;
  overflow: hidden;
}
.blog-3,
.computer-security-in-container {
  position: absolute;
  top: 0;
  left: 162px;
  display: inline-block;
  width: 164px;
  height: 62px;
}
.computer-security-in-container {
  top: 64px;
  left: 110px;
  width: 778px;
  height: 408px;
  font-size: var(--font-size-13xl);
  color: var(--color-white);
}
.frame-inner,
.frame21 {
  position: absolute;
  left: 0;
}
.frame-inner {
  top: 502px;
  border-radius: 50%;
  background-color: var(--color-orangered);
  width: 142px;
  height: 110px;
}
.frame21 {
  top: 0;
  width: 888px;
  height: 612px;
  overflow: hidden;
}
.frame19 {
  position: relative;
  width: 1944px;
  height: 654px;
  overflow: hidden;
  flex-shrink: 0;
  font-size: var(--font-size-21xl);
  color: var(--color-deepskyblue);
}
.frame17 {
  position: absolute;
  top: 312px;
  left: -26px;
  width: 1946px;
  height: 1000px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 62px;
  font-size: var(--font-size-13xl);
  color: var(--color-white);
  font-family: var(--font-inika);
}
.itblog {
  position: relative;
  background-color: var(--color-gray);
  width: 100%;
  height: 1324px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--color-snow-200);
  font-family: var(--font-inter);
}
